body {
    background-color: #aaaaaa;
}

table {
    /* padding: 4px; */
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

table tr {
    /* vertical-align: top; */
    /* padding: 4px; */
}

table tr td {
    width: 200px;
    height: 45px;
}

img {
    padding: 4px;
}

.bigGameFont {
    font-size: 48px;
}

.bordered td {
    border: 2px solid black;
    width: 100px;
    height: 80px;
    text-align: center;
}