table {
	display: table;
    padding: 4px;
}

table tr {
	display: table-cell;
    vertical-align: top;
    padding: 4px;
}

table tr td {
	display: block;
    width: 200px;
    border: 1px solid black;
    padding: 4px;
}

img {
    padding: 4px;
}